# ======================
# Environment Variables
# ======================
.env
.env.*
!.env.example

# ======================
# Config / Secret Files
# ======================
config/db.js

# ======================
# Node Modules
# ======================
node_modules/

# ======================
# Logs
# ======================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db

# ======================
# Build / Cache
# ======================
dist/
build/
.next/
.cache/
